/*********************************** Tag Selector **********/

h1{
    font-size: 50px;
    color: red;
  }
  img:hover{
    background-color: Gold;
  }
      
  /*********************************** Class Selector **********/
  .bacon {
    background-color: Green;
  }
  
  .broccoli{
    background-color: Red;
  }
  .circular{
    border-radius: 100%
  }
  /*********************************** ID Selector **********/
  
  #heading {
    color: blue;
  }
  
